#
#  __          __     _____  _   _ _____ _   _  _____ 
#  \ \        / /\   |  __ \| \ | |_   _| \ | |/ ____|
#   \ \  /\  / /  \  | |__) |  \| | | | |  \| | |  __ 
#    \ \/  \/ / /\ \ |  _  /| . ` | | | | . ` | | |_ |
#     \  /\  / ____ \| | \ \| |\  |_| |_| |\  | |__| |
#      \/  \/_/    \_\_|  \_\_| \_|_____|_| \_|\_____|
#
# This file is managed by ansible-oracle.
# Changes are automatically replaced by ansible-oracle without any warning!
# A backup with old information is created before.
#
ADR_BASE_{{ listener_name_template }}={{ listener_adr_template }}

{{ listener_name_template }} =
  (DESCRIPTION_LIST =
    (DESCRIPTION =
      (ADDRESS = (PROTOCOL = TCP)(HOST = {{ ansible_host }})(PORT = {{ listener_port_template }}))
    )
  )

SID_LIST_{{ listener_name_template }} =
   (SID_LIST =
       (SID_DESC =
          (GLOBAL_DBNAME = {{ dbh.oracle_db_unique_name | default(dbh.oracle_db_name) }})
          (ORACLE_HOME = {{ oracle_home_db }})
          (SID_NAME = {{ dbh.oracle_db_instance_name | default(dbh.oracle_db_name) }})
       )
       (SID_DESC =
          (GLOBAL_DBNAME = {{ dbh.oracle_db_name }}_DGMGRL)
          (ORACLE_HOME = {{ oracle_home_db }})
          (SID_NAME = {{ dbh.oracle_db_instance_name | default(dbh.oracle_db_name) }})
       )
   )
